@charset "utf-8";

* {
	font-family: 'Noto Sans KR';
}

#wrap {
	position: relative;
	> .background {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: -10;
		background-image: url(./../images/background.jpg);
		background-position: center center;
		background-size: cover;
	}
	> header {
		position: fixed;
		top: 0;
		z-index: 1000; // 모든 nav의 기준점
		width: 100%;
		height: 120px;
		background-color: #fff;
		> h1 {
			position: absolute;
			z-index: 1;
			left: 300px;
			top: 50%;
			margin-top: -40px;

			width: 75px;
			> a {
				display: block;

				height: 75px;
				// line-height: 75px;
				text-indent: -9999px;
				background-image: url(./../images/logo.png);
			}
		} //end of h1.logo

		> .topnav {
			display: flex;
			justify-content: space-between;
			position: absolute;
			z-index: 1;
			width: 500px;
			height: 20px;
			// border: 1px solid #000;
			right: 300px;
			top: 10px;
			> li {
				padding-right: 12px;
				border-right: 1px solid #eee;

				&.search > a {
					position: relative;
					text-indent: -9999px;
					&::after {
						position: absolute;
						top: 0;
						left: -15px;
						display: block;
						content: '';
						width: 20px;
						height: 20px;
						background-image: url(./../images/icon_magnifier_black.png);
						background-position: center center;
						background-repeat: no-repeat;
					}
				}

				> a {
					display: block;
					color: #2c2a29;
					line-height: 20px;
				}
			}
		} //end of .topnav
		> nav {
			position: relative;

			width: 100%;
			height: 120px;

			> .gnb {
				// overflow: hidden;
				display: flex;
				justify-content: right;
				position: absolute;
				bottom: 0;

				// margin-right: -400px;

				width: 100%;
				height: 60px;
				// border: 1px solid #000;
				> li {
					margin-right: 30px;

					// position: relative;
					// width: 200px;
					// border: 1px solid #000;
					&:last-child {
						margin-right: 300px;
					}
					&:hover > a {
						color: #007042;
						background-color: #2c2a29;
					}

					> a {
						display: block;
						color: #282828;
						font-size: 18px;
						font-weight: 600;
						line-height: 60px;
						padding: 0 10px;
					}
					// &:hover > .lnb {
					// 	display: block;
					// }

					> .lnb {
						display: none;
						position: absolute;
						left: 0;
						// bottom: 0;
						width: 100%;
						// height: 500px;
						background-color: #2c2a29;
						> .under {
							width: 100%;
							// position: absolute;
							bottom: 0;
							background-image: url(./../images/gnb_sub_txbg.jpg);
							> ul {
								width: 1300px;
								margin: 0 auto;
								padding-bottom: 20px;
								height: 100%;
								// border: 1px solid #000;
								> li {
									color: #007042;
									font-weight: 500;
									> a {
										display: block;
										color: #999;
										font-size: 12px;
										font-weight: 600;
										padding-top: 20px;
									}
								}
							}
						} //end of .under
						> .lnb_wrap {
							width: 1300px;
							margin: 0 auto;
							padding: 10px;
							display: flex;
							justify-content: space-between;
							flex-flow: row wrap;

							> ol {
								width: 250px;

								line-height: 1.6;
								> li {
									&.lnb_title {
										padding-bottom: 10px;
										font-size: 14px;
										font-weight: 600;
										> a {
											color: #fff;
										}
									}
									> a {
										display: block;
										color: #999;
										&:hover {
											text-decoration: underline;
										}
									}
								} // end of li
							} // end of ol
						} //end of div.lnb_wrap
					} //end of div.lnb
				} //end of .gnb>li
			} //end of .gnb
		} //end of nav
	} //end of header
	> section {
		margin-top: 120px;
		> #main {
			position: relative;
			width: 100%;
			height: 640px;
			background-image: url(./../images/main_backgr.jpg);
			> .main_summer {
				position: absolute;
				left: 300px;
				top: 50px;
				width: 312px;
				> .slogan {
					width: 312px;
					height: 193px;
					text-indent: -9999px;
					background-image: url(./../images/main_slogan.png);
				} //end of .slogan
				> a {
					width: 100px;
					height: 30px;
					margin: 30px auto 0;
					color: #d73a7a;
					font-weight: 600;
					line-height: 30px;
					text-align: center;
					display: block;
					border: 2px solid #d73a7a;
					border-radius: 5px;
					transition: all .3s;

					&:hover {
						background-color: #d73a7a;
						color: #fff;
						text-decoration: underline;
					}
				}
			} //end of .main_summer
			> p {
				position: absolute;
				text-indent: -9999px;
				&.main_product_1 {
					right: 750px;
					top: 200px;
					width: 468px;
					height: 315px;
					background-image: url(./../images/main_pro_1.png);
				}
				&.main_product_2 {
					right: 500px;
					top: 60px;
					width: 548px;
					height: 408px;
					background-image: url(./../images/main_pro_2.png);
				}
				&.main_product_3 {
					bottom: 80px;
					right: 250px;
					width: 302px;
					height: 459px;

					background-image: url(./../images/main_pro_3.png);
				}
			} //end of p
		} //end of #main

		> #news {
			position: relative;
			width: 100%;
			// height: 62px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			background-image: url(./../images/line_notice_bg.jpg);
			background-position: center center;
			background-size: cover;
			> .notice {
				display: flex;
				justify-content: space-between;
				width: 700px;
				height: 62px;

				> h2 {
					line-height: 62px;
					color: #fff;
				}
				> ul {
					position: relative;
					top: 20px;
					overflow: hidden;
					width: 400px;
					height: 20px;
					line-height: 20px;
					// border: 1px solid #fff;

					> li {
						position: absolute;
						bottom: -20px;
						width: 100%;
						// height: 100%;
						transition: all .5s;
						&.on {
							bottom: 0;
						}
						> a {
							color: #fff;
							// display: block;
						}
					}
				}
				> .more {
					display: block;
					width: 36px;
					height: 36px;
					margin-top: 12px;

					text-indent: -9999px;
					background-image: url(./../images/btn_notice_plus.png);
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			} //end of .notice
			> .promotion {
				display: flex;
				justify-content: right;
				width: 600px;
				text-align: center;

				> h2 {
					line-height: 62px;
					> a {
						display: block;
						color: #2c2a29;
					}
				}
				> .down {
					display: block;
					width: 36px;
					height: 36px;
					margin: 10px 0 0 50px;
					text-indent: -9999px;
					background-image: url(./../images/btn_prom_down.png);

					&.up {
						background-image: url(./../images/btn_prom_up.png);
					}
				}
			} //end of .promotion
		} //end of #news
		> #promotion_slides {
			&.on {
				display: block;
			}
			display: none;
			position: relative;
			width: 100%;
			height: 600px;
			padding: 20px 0;
			background-color: #f6f6ee;
			overflow: hidden;
			> .slides-container {
				position: absolute;
				left: -280px;
				display: flex;
				justify-content: space-between;

				width: 2450px;
				> div {
					position: relative;
					opacity: 0.6;

					&.on {
						opacity: 1;
					}
					&.slide-1 > .slide {
						background-image: url(./../images/pro_slide01.jpg);
					}
					&.slide-2 > .slide {
						background-image: url(./../images/pro_slide02.jpg);
					}
					&.slide-3 > .slide {
						background-image: url(./../images/pro_slide03.jpg);
					}
					> .slide {
						width: 810px;
						height: 550px;
						text-indent: -9999px;
					}
					> .more {
						position: absolute;
						left: 50%;
						bottom: 15px;
						display: block;
						width: 120px;
						height: 30px;
						margin-left: -60px;
						text-align: center;
						color: #2c2a29;
						line-height: 30px;
						font-size: 14px;
						font-weight: 400;
						border: 2px solid #000;
						border-radius: 5px;
						transition: all .8s;
						&:hover {
							color: #fff;
							background-color: #000;
						}
					}
				}
			} //end of slides-contianer
			> .indicator {
				position: absolute;
				bottom: 2em;
				left: 50%;
				margin-left: -45px;
				> ul {
					display: flex;
					justify-content: space-between;
					width: 80px;
					> li {
						width: 13px;

						> a {
							display: block;
							height: 12px;
							text-indent: -9999px;
							background-image: url(./../images/main_prom_off.png);
							background-position: center center;
							background-size: cover;
							background-repeat: no-repeat;
						} //end of a
						&:nth-child(1) > a {
							background-image: url(./../images/main_prom_stop.png);
						}

						&.paused > a {
							background-image: url(./../images/main_prom_play.png);
						}
						&.index {
							&.on > a {
								background-image: url(./../images/main_prom_on.png);
							}
						}
						&:first-child {
							width: 9px;
						}
					} //end of li
				} //end of ul
			} //end of .indicator
			> a {
				position: absolute;
				display: block;
				width: 50px;
				height: 50px;
				text-indent: -9999px;
				background-position: center center;
				background-repeat: no-repeat;
				border: 2px solid #000;
				border-radius: 50%;
				top: 28%;
				&.next {
					right: 23%;
					background-image: url(./../images/arrow_right_on.png);
				}
				&.prev {
					left: 23%;
					background-image: url(./../images/arrow_left_on.png);
				}
			}
		} //end of #promotion_slides

		> #rewards {
			width: 100%;
			background-color: #1e3932;
			// height: 215px;
			> .content {
				display: flex;
				// flex-flow: row wrap;
				justify-content: space-between;
				width: 1300px;
				margin: 0 auto;
				padding: 20px 0;
				> h2 {
					width: 220px;
					height: 200px;
					text-indent: -9999px;
					background-image: url(./../images/rewards-logo.png);
					background-position: center center;
					background-size: contain;
					background-repeat: no-repeat;
				}
				> .rewards-content {
					color: #fff;
					> .rewards-content-top {
						display: flex;
						justify-content: space-between;
						width: 1000px;
						// border: 1px solid #000;

						> .rewards-top {
							padding: 25px 0;

							> .rewards-top_title {
								font-size: 22px;
								font-weight: 500;
								margin-bottom: 20px;
								> span {
									font-size: 25px;
									font-weight: 800;
								}
							} //end of .rewards-top_title
							> .rewards-top_content {
								line-height: 1.2;
								font-size: 17px;
								> span {
									font-size: 18px;
									font-weight: 600;
								}
							} //end of .rewards-top_content
						} //end of .rewards-top
						> .join {
							display: flex;
							margin-top: 65px;
							> a {
								display: block;
								height: 40px;
								color: #fff;
								text-align: center;
								line-height: 40px;
								border-radius: 5px;

								&:hover {
									text-decoration: underline;
								}
								&:nth-child(1) {
									width: 100px;
									border: 1px solid #00704a;
									margin-right: 10px;
									background-color: #00704a;
								}
								&:nth-child(2) {
									width: 80px;
									border: 2px solid #fff;
								}
							}
						} //end of .join
					} //end of .rewards-content-top

					> .rewards-content-bottom {
						display: flex;
						justify-content: space-between;
						padding-top: 25px;
						border-top: 1px solid #999;
						> p {
							line-height: 1.4;
							font-size: 15px;
							font-weight: 400;
							height: 50px;
							> span {
								font-weight: 800;
							}
						}
						> a {
							display: block;
							width: 193px;
							height: 40px;
							color: #fff;
							text-align: center;
							line-height: 40px;
							border: 2px solid #fff;
							border-radius: 5px;
						}
					} //end of .rewards-content-bottom
				} //end of .rewards-content
			} //end of .content
		} //end of #rewards

		> #sulawesi {
			position: relative;
			width: 100%;
			height: 570px;
			background-image: url(./../images/2022_Summer1_bean_bg2.jpg);
			> p {
				position: absolute;
				text-indent: -9999px;
			}
			> .bgc_l {
				width: 425px;
				height: 392px;
				left: 0;
				top: 0;
				background-image: url(./../images/summer_bg_l1.png);
			}
			> .bgc_r {
				width: 482px;
				height: 360px;
				right: 0;
				bottom: 0;
				background-image: url(./../images/summer_bg_r1.png);
			}
			> .product {
				right: 75%;
				top: 50%;
				margin-top: -209px;
				width: 310px;
				height: 418px;
				background-image: url(./../images/2022_Summer1_bean_bean.png);

				animation: pro_move 1.2s forwards;
				animation-play-state: paused;

				@keyframes pro_move {
					0% {
						opacity: 0;
						right: 75%;
					}
					100% {
						opacity: 1;
						right: 50%;
					}
				}
			}
			> .more {
				position: absolute;
				right: 0;
				bottom: 50%;
				animation: txt_move 1.2s forwards;
				animation-play-state: paused;

				@keyframes txt_move {
					0% {
						opacity: 0;
						right: 0;
					}
					100% {
						opacity: 1;
						right: 30%;
					}
				}
				// width: ;
				> .detail {
					width: 321px;
					height: 129px;
					text-indent: -9999px;
					background-image: url(./../images/2022_Summer1_bean_text.png);
				}
				> a {
					display: block;
					height: 30px;
					width: 120px;
					margin-top: 40px;
					color: #1e245c;
					font-size: 14px;
					line-height: 30px;
					text-align: center;
					border: 2px solid #1e245c;
					border-radius: 5px;
					transition: all .5s;
					&:hover {
						background-color: #1e245c;
						color: #fff;
					}
				}
			}
		} //end of #sulawesi
		> #indo {
			position: relative;
			width: 100%;
			height: 400px;
			background-image: url(./../images/indo_bg.jpg);
			> p {
				position: absolute;
				text-indent: -9999px;
				&.bgc_l {
					left: 0;
					bottom: 0;
					width: 373px;
					height: 273px;
					background-image: url(./../images/indo_l1.png);
				}
				&.bgc_r {
					right: 0;
					bottom: 0;
					z-index: 1;
					width: 563px;
					height: 301px;
					background-image: url(./../images/indo_r1.png);
				}
				&.product {
					top: 0;
					width: 100%;
					height: 400px;
					background-image: url(./../images/indo_pro.png);
				}
				&.detail {
					left: 400px;
					top: 50%;
					margin-top: -100px;
					width: 496px;
					height: 115px;
					background-image: url(./../images/indo_prize.png);
				}
			}
			> a {
				position: absolute;
				left: 650px;
				bottom: 30%;
				display: block;
				height: 30px;
				width: 120px;

				color: #b9813e;
				font-size: 14px;
				line-height: 30px;
				text-align: center;
				border: 2px solid #b9813e;
				border-radius: 5px;
				transition: all .5s;
				&:hover {
					background-color: #b9813e;
					color: #fff;
				}
			}
		} //end of #indo

		> #pick {
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 150px 0;
			> .content {
				display: flex;
				flex-flow: column nowrap;

				> p {
					// position: absolute;
					text-indent: -9999px;
					margin-bottom: 50px;

					animation: pick_move 2s forwards;
					animation-play-state: paused;
					&.txt_1 {
						left: 0;
						width: 362px;
						height: 204px;
						transform: translateX(-400px);
						background-image: url(./../images/fav_prod_txt01.png);
						background-repeat: no-repeat;
						background-position: right;
					}
					&.txt_2 {
						width: 362px;
						height: 156px;
						transform: translateX(-400px);
						animation-delay: .3s;
						background-image: url(./../images/fav_prod_txt02.png);
					}
					@keyframes pick_move {
						0% {
							transform: translateX(-400px);
						}
						100% {
							transform: translateX(0);
						}
					}
				}

				> a {
					display: block;
					height: 30px;
					width: 120px;
					margin-left: 240px;
					color: #fff;
					font-size: 14px;
					line-height: 30px;
					text-align: center;
					border: 2px solid #fff;
					border-radius: 5px;
					transition: all .5s;
					&:hover {
						background-color: #fff;
						color: #000;
					}
				}
			} //end of .content
			> .product {
				width: 672px;
				height: 458px;
				margin-left: 100px;
				text-indent: -9999px;
				background-image: url(./../images/pick_1.png);
			}
		} //end of #pick

		> #magazine {
			display: flex;
			justify-content: center;
			width: 100%;
			height: 400px;
			background-image: url(./../images/reserve_bg_pc.png);
			background-position: bottom;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: #fff;

			> div {
				margin-right: 100px;
				margin-top: 120px;
				> .txt_1 {
					width: 588px;
					height: 97px;
					text-indent: -9999px;
					background-image: url(./../images/reserve_text.png);
				}
				> a {
					display: block;
					height: 30px;
					width: 120px;
					margin: 20px auto 0;
					color: #000;
					font-size: 14px;
					line-height: 30px;
					text-align: center;
					border: 2px solid #000;
					border-radius: 5px;
					transition: all .5s;
					&:hover {
						background-color: #000;
						color: #fff;
					}
				}
			} //end of div
			> .pic {
				display: none;
				width: 348px;
				height: 374px;
				text-indent: -9999px;
				background-image: url(./../images/reserve_visual_pc_220119.png);
			}
		} //end of #magazine

		> #store {
			position: relative;
			width: 100%;
			height: 400px;
			display: flex;
			justify-content: center;

			background-image: url(./../images/store_bg.jpg);
			> .pic {
				display: none;
				position: relative;
				margin-right: 200px;
				> p {
					text-indent: -9999px;
					&.pic_1 {
						width: 366px;
						height: 312px;
						background-image: url(./../images/store_exp_img02.png);
					}
					&.pic_2 {
						position: absolute;
						top: 140px;
						left: 200px;
						width: 228px;
						height: 228px;
						background-image: url(./../images/store_exp_img01.png);
					}
				} //end of p
			} //end of .pic

			> .text {
				margin-top: 100px;
				> p {
					margin-bottom: 20px;
					text-indent: -9999px;
					transform: translateX(300px);
					animation: store_txt 2.5s forwards;
					animation-play-state: paused;
					&.txt_1 {
						width: 385px;
						height: 54px;
						background-image: url(./../images/store_txt01.png);
					}
					&.txt_2 {
						width: 366px;
						height: 61px;
						background-image: url(./../images/store_txt02.png);
						animation-delay: .3s;
					}

					@keyframes store_txt {
						0% {
							transform: translateX(300px);
						}
						100% {
							transform: translateX(0);
						}
					}
				}

				> a {
					display: block;
					height: 30px;
					width: 120px;

					color: #000;
					font-size: 14px;
					line-height: 30px;
					text-align: center;
					border: 2px solid #000;
					border-radius: 5px;
					transition: all .5s;
					&:hover {
						background-color: #000;
						color: #fff;
					}
				}
			} //end of .txt
			> p {
				position: absolute;
				text-indent: -9999px;
				&.bgc_1 {
					top: 0;
					right: 50%;
					margin-right: -100px;
					width: 343px;
					height: 142px;
					background-image: url(./../images/store_exp_img03.png);
				}
				&.bgc_2 {
					bottom: 0;
					right: 300px;
					width: 230px;
					height: 102px;
					background-image: url(./../images/store_exp_img04.png);
				}
			}
		} //end of #store
	} //end of section
	> footer {
		width: 100%;
		padding: 50px 0;
		background-color: #2c2a29;
		> .footer_top {
			width: 1300px;
			margin: 0 auto;
			padding-bottom: 50px;
			> nav {
				display: flex;
				justify-content: space-between;
				> .f_lnb {
					> li {
						line-height: 1.6;
						&.title > a {
							font-size: 15px;
							margin-bottom: 10px;
						}
						> a {
							display: block;
							color: #fff;
							&:hover {
								text-decoration: underline;
							}
						} //end of a
					} //end of li
				} //end of f_lnb
				> .f_logo {
					width: 14px;
					height: 142px;
					text-indent: -9999px;
					background-image: url(./../images/footer_logo.png);
				}
			} //end of nav
		} //end of .footer_top
		> .award {
			width: 100%;
			height: 40px;
			padding: 30px 0;
			background-color: #282828;
			> ul {
				display: flex;
				justify-content: space-between;
				width: 1300px;
				margin: 0 auto;
				> li {
					&:nth-child(1) {
						width: 158px;
					}
					&:nth-child(2) {
						width: 154px;
					}
					&:nth-child(3) {
						width: 181px;
					}
					&:nth-child(4) {
						width: 254px;
					}
					&:nth-child(5) {
						width: 254px;
					}
					&:nth-child(6) {
						width: 180px;
					}

					&:nth-child(1) > a {
						background-image: url(./../images/footer_award23.jpg);
					}
					&:nth-child(2) > a {
						background-image: url(./../images/footer_award24.jpg);
					}
					&:nth-child(3) > a {
						background-image: url(./../images/footer_award25.jpg);
					}
					&:nth-child(4) > a {
						background-image: url(./../images/footer_award26.jpg);
					}
					&:nth-child(5) > a {
						background-image: url(./../images/footer_award27.jpg);
					}
					&:nth-child(6) > a {
						background-image: url(./../images/footer_award28.jpg);
					}

					> a {
						display: block;
						height: 40px;
						text-indent: -9999px;
					}
				}
			}
		} //end of .award

		> .footer_bottom {
			display: flex;
			flex-flow: column nowrap;
			text-align: center;
			line-height: 1.6;
			> .fb_mnu {
				display: flex;
				margin: 0 auto;
				> li {
					border-right: 1px solid #393939;
					padding: 0 10px;

					&:last-child {
						border: none;
					}

					&.personal > a {
						color: #08ae46;
					}
					> a {
						color: #999;
						font-size: 12px;
						font-weight: 600;
						display: block;
					}
				}
			} //end of .fb_mnu
			> .map {
				display: flex;
				margin: 10px auto;
				> a {
					display: block;
					width: 110px;
					height: 30px;
					margin-right: 10px;
					color: #fff;
					font-size: 12px;
					line-height: 30px;

					text-align: center;
					border: 2px solid #fff;
					border-radius: 5px;
				}
			} //end of .map
			> .add {
				display: flex;

				margin: 0 auto;
				> li {
					color: #999;
					margin-right: 10px;
				}
			} //end of .add
			> address {
				height: 50px;
				color: #999;
				line-height: 50px;
			}
		} //end of .footer_bottom
	} //end of footer

	> aside {
		position: fixed;
		z-index: 1001;
		right: 120px;
		top: 140px;
		width: 166px;
		height: 232px;
		// border: 1px solid #000;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		> a {
			display: block;
			width: 166px;
			height: 116px;
			text-indent: -9999px;

			&:nth-child(1) {
				background-image: url(./../images/fix_card.png);
			}
			&:nth-child(2) {
				background-image: url(./../images/fix_card2.png);
			}
		}
	}
} //end of #wrap
